MIME type

As adoption inevitably grows, a MIME type should be appropriately registered.

Help wanted tag needed. Anyone who wishes to research how this is done and enter some notes, please do.

"Register New File Types in the IANA MIME Database"
see https://www.iana.org/form/media-types

It's quite simple really.... 

Just pop along and read these standards...

- RFC 2045 - MIME formats and encodings
- RFC 2046 - Definition of media types
- RFC 2077 - Model top-level media type
- RFC 7303 - XML Media Types
- RFC 6657 - Update to MIME regarding "charset" Parameter Handling in Textual Media Types
- RFC 6838 - Media type specifications and registration procedures

Then, with reference to the relevant sections, fill out:

- Your Full Name
- Your E-mail
- Type Name
- Subtype Name
- Required Parameters
- Optional Parameters
- Encoding Considerations
- Security Considerations
- Interoperability Considerations
- Published specification
- Application Usage
- Fragment Identifier Considerations
- Restrictions on Usage
- Provisional Registrations
- Additional Information
- Intended Usage
- Other Information & Comments
- Contact Person

And by "quite simple" I mean, specifically, for very complex definitions of "simple".